.counter{
    animation: counter 30s infinite;
}
@keyframes counter{
    50%{border-radius: 10% 20% 53% 87% / 12% 69% 31% 58%; ;}
    10% {
     border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
 }

 20% {
     border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
 }
 100%{
    border-radius: 80% 40% 20% 80% / 15% 80% 0% 5%;
 }
}